*{list-style:none ;
padding: 0;
margin:0;}
nav{ background-repeat: no-repeat; padding-top:10px; padding-bottom: 10px;  padding-left: 750px; position:sticky;  } 
.c1{text-align: right; padding-right: 50px;
    background-color: rgb(96, 95, 95,0.5);
    box-shadow: 0 14px 28px rgba(251, 251, 251, 0.25),0 10px 10px rgba(89, 185, 211, 0.25);
}
body{
        margin: 0;
        padding: 0;
        background-image:url("images/pexels-moose-photos-1037995.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        text-transform: uppercase;
        
      

}
h1{ 
    text-align: center;
    color: rgb(96, 95, 95);
}
h3{
    margin: 5px;
}
.c1{text-align: right; padding-right: 50px; color:rgb(96, 95, 95); text-decoration: none; }
nav{ background-repeat: no-repeat; padding-top:30px; padding-bottom: 30px;  padding-left: 750px; position: sticky; } 
a{color: white; text-decoration: none; font-size: 20px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);}
a:hover{
    color:black;
}
.skill{
    width: 25%;
    margin: 60px 28.5px;
    color: rgb(96, 95, 95);
    padding:20px;
    box-shadow: 0 14px 28px rgba(0, 0,0,0.25),0 10px 10px rgba(0, 0,0,0.22);
    background-color: aliceblue;
    display: inline-block;

    
}
.skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(0, 0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0,0,0.12),0 1px 2px rgba(0, 0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

}
.bar:hover{
    box-shadow: 0 14px 28px rgba(251, 251, 251, 0.25),0 10px 10px rgba(89, 185, 211, 0.22);

}
.bar span{
    height: 10px;
    float: left;
    background: linear-gradient(135deg,rgb(80, 79, 80)0%,rgb(255, 255, 255)100%);
}
.h11{
    width: 90%;
    animation: h11 3s;
}
.h12{
    width: 80%;
    animation: h12 3s;
}
.h13{
    width: 70%;
    animation: h13 3s;
}
@keyframes h11 {
    0%{
        width:0%
    }
    100%{
        width: 90%;
    }
    
}
@keyframes h12 {
    0%{
        width:0%
    }
    100%{
        width: 80%;
    }
    
}
@keyframes h13 {
    0%{
        width:0%
    }
    100%{
        width: 70%;
    }
    
}

.h21{
    width: 90%;
    animation: h21 3s;
}
.h22{
    width: 80%;
    animation: h22 3s;
}
.h23{
    width: 70%;
    animation: h23 3s;
}
@keyframes h21 {
    0%{
        width:0%
    }
    100%{
        width: 90%;
    }
    
}
@keyframes h22 {
    0%{
        width:0%
    }
    100%{
        width: 80%;
    }
    
}
@keyframes h23 {
    0%{
        width:0%
    }
    100%{
        width: 70%;
    }
    
}
.h31{
    width: 90%;
    animation: h31 3s;
}
.h32{
    width: 40%;
    animation: h32 3s;
}

@keyframes h31 {
    0%{
        width:0%
    }
    100%{
        width: 90%;
    }
    
}
@keyframes h32 {
    0%{
        width:0%
    }
    100%{
        width: 40%;
    }
    
}

    



    


    


